<%= form_for @recipe, html: { multipart: true } do |form| %>
    <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :recipe_title %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, id: :recipe_author %>
  </div>
 
  <div class="field">
    <%= form.label :img_attachment, "Image attachment:" %>
    <%= form.file_field :img_attachment %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :recipe_description %>
  </div>

  <div class="field">
    <%= form.label :preptime %>
    <%= form.text_field :preptime, id: :recipe_preptime %>
  </div>

  <div class="field">
    <%= form.label :cooktime %>
    <%= form.text_field :cooktime, id: :recipe_cooktime %>
  </div>

  <div class="field">
    <%= form.label :servings %>
    <%= form.number_field :servings, id: :recipe_servings %>
  </div>

  <div class="field">
    <%= form.label :calories %>
    <%= form.number_field :calories, id: :recipe_calories %>
  </div>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source, id: :recipe_source %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %> 
